<footer
  class="footer"
  style="background-color: #343a40; color: white; padding: 40px 0"
>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Hakkımda</h5>
        <p>
          Ben Doğanay Balaban, Kırklareli Üniversitesi Yazılım Mühendisliği
          öğrencisiyim. Yazılım geliştirme ve web teknolojileri üzerine
          çalışıyorum.
        </p>
      </div>
      <div class="col-md-4">
        <h5>İletişim</h5>
        <ul class="list-unstyled">
          <li>Email: doganay@example.com</li>
          <li>Telefon: +90 555 555 5555</li>
          <li>Adres: İstanbul, Türkiye</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Sosyal Medya</h5>
        <ul class="list-unstyled">
          <li>
            <a
              href="https://github.com/DoganayBalaban"
              target="_blank"
              style="color: #d4d4d4"
              >GitHub</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/doganaybalaban/"
              target="_blank"
              style="color: #d4d4d4"
              >LinkedIn</a
            >
          </li>
          <li>
            <a
              href="https://twitter.com/doganaybalaban"
              target="_blank"
              style="color: #d4d4d4"
              >Twitter</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-3">
        <p>&copy; 2024 Doğanay Balaban. Tüm Hakları Saklıdır.</p>
      </div>
    </div>
  </div>
</footer>
