{% extends "index.html" %}{% block content %}
<div class="container">
  <div class="container mt-5 mb-5 p-5">
    <h1>Yolculuğum</h1>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            Lise Öncesi Dönem
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse show"
        >
          <div class="accordion-body">
            <strong>Mustafa Pars İlkokulu / Ortaoukulu</strong>
            <p>
              Ortaokul ve İlkokul dönemlerinde matematik ve fen derslerine
              düşkün ve aynı zamanda aslında çok da çalışkan olmayan biriydim.
              Bazı dersleri çok önemsemediğim için TEOG sınavında çok başarılı
              olamadım.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            Lise Dönemi
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseTwo"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body">
            <strong>Atakent IMKB Mesleki ve Teknik Anadolu Lisesi</strong>
            <p>
              Zor ve kötü geçen 9.sınıfın ardından 10.sınıfda okulun kimya
              bölümünde eğitim görmeye başladım. 10.sınıftan itibaren daha
              çalışkan biri oldum ve covid dolayısıyla okullar kapandı. Yaklaşık
              1-2 aylık staj maceramdan sonra mezun oldum ve ilk YKS denememde
              başarısız oldum. Çok hırslandım ve bir sonraki yıl çok çalışarak
              istediğim bölümü kazandım.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree"
          >
            Üniversite Dönemi
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseThree"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body">
            <strong>Kırklareli Üniversitesi - Yazılım Mühendisliği</strong>
            <p>
              Üniversitenin ilk yılı alışma süreci dolayısıyla biraz zor geçti
              ve ikinci dönem online eğitim alarak 1. sınıfı iyi bir ortalamayla
              kapadım. 2. sınıfta ise daha çok bölüm derslerimin girmesiyle daha
              da zorlaşsa da sınıfı çok zorlanmadan iyi bir ortalamayla
              bitirdim. Bu sene 3.sınıf olacağım.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5 p-5">
    <div class="mb-2">
      <h1>Becerilerim</h1>
    </div>
    <div class="container p-2 m-2">
      <h3>HTML / CSS / JS</h3>
      <div
        class="progress m-3"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar" style="width: 80%"></div>
      </div>
      <h3>PHP</h3>
      <div
        class="progress m-3"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar" style="width: 60%"></div>
      </div>
      <h3>Python</h3>
      <div
        class="progress m-3"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar" style="width: 70%"></div>
      </div>
      <h3>Java</h3>
      <div
        class="progress m-3"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar" style="width: 35%"></div>
      </div>
      <h3>SQL</h3>
      <div
        class="progress m-3"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar" style="width: 70%"></div>
      </div>
      <h3>Django</h3>
      <div
        class="progress m-3"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar" style="width: 65%"></div>
      </div>
      <h3>Veri Bilimi ve Yapay Zeka</h3>
      <div
        class="progress m-3"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar" style="width: 60%"></div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5 p-5">
    <div>
      <h1>Beni işe al !</h1>
    </div>
    <div>
      Eğer beni şirketinizde veya projelerinizde görmek istiyorsanız lütfen
      buradan bana ulaşın.!
      <div class="mt-5 p-3">
        <a class="btn btn-primary" href='{% url "contact" %}'>Bana Ulaş</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
