{% extends "index.html" %} {% block content %}
<div class="container">
  <div class="mb-3 w-50">
    <form method="GET" action="">
      <label class="form-label">Blog Ara</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Blog Ara..."
        name="q"
      />
    </form>
  </div>
  <div class="row">
    <div class="col-md-9">
      {% for blog in blogs %}
      <div class="card mb-3" style="max-width: 1080px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{blog.image.url}}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5>

              <p class="card-text">
                Eklenme Tarihi:
                <small class="text-body-secondary"
                  >{{blog.created_at|timesince}} önce</small
                >
              </p>
              <a href="{% url 'blog-detail' blog.id %}" class="btn btn-primary"
                >Git</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-3">
      <h2>Konular</h2>
      <ul>
        <li>
          <a href="{% url 'blog' %}" class="text-decoration-none text-dark"
            >Hepsi</a
          >
        </li>
        {% for topic in topics %}
        <li>
          <a
            class="text-decoration-none text-dark"
            href="{% url 'blog' %}?q={{topic.name}}"
            >{{topic}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
