{% extends "index.html" %}{% block content %}

<div class="container">
  <div class="container">
    <div>
      <h1>{{project.title}}</h1>
      <small>{{project.miniDesc}}</small>
    </div>
    <div class="mt-5 mb-5 p-5">
      <p>{{project.description|safe}}</p>
      <p class="btn btn-primary">
        <a
          class="text-white text-decoration-none"
          href="{{project.url}}"
          target="_blank"
          >Projeye Git</a
        >
      </p>
    </div>
  </div>
  <div class="container mt-5 mb-5 p-5">
    <h2>Galeri</h2>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        {% for image in images %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img
            style="height: 615px"
            src="{{image.image.url}}"
            class="d-block mw-100 mh-75 rounded"
            alt="..."
          />
        </div>
        {% endfor %}
      </div>
      <button
        class="carousel-control-prev fs-1 btn-dark"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span
          style="
            background-color: black;
            border-radius: 50%;
            width: 50px;
            height: 50px;
          "
          class="carousel-control-prev-icon"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next fs-1"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon"
          style="
            background-color: black;
            border-radius: 50%;
            width: 50px;
            height: 50px;
          "
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="container mt-5 mb-5 p-5">
    <div class="">
      <h2>Hangi Teknolojileri Kullandım?</h2>
    </div>
    <div>
      <ul class="list-group list-group-flush">
        {% for tech in project.technologies.all %}
        <li class="list-group-item">{{tech.name}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
